.App {
  font-family: sans-serif;
  max-width: 600px;
  margin: 15px auto;
  padding: 20px;
}

.container {
  margin: 0px auto;
  border: 1px solid #00203f;
  border-radius: 8px;
  background: #d6dbdbe3;
}




