.WeatherForecast {
  text-align: center;
}


.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast-image {
  height: 50px;
  width: 50px;
}

.WeatherForecastDay {
  border: 1px solid #00203F;
  color: #00203F;
  border-radius: 8px;
  margin: 40px -6px 0px -6px;
  padding: 10px 3px 10px 3px;
  text-align: center;
  opacity: 2;

}

.WeatherForecast-day{
  font-size: 16px;
  font-weight: bold;
  color: #00203F;
}