.Weather {
  margin: 20px auto;
}

.Weather .search {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 15px;

}

.Weather .searchButton {
  display: block;
  font-size: 15px;
  text-align: center;
  background: #195190ff;
  border: 1px solid #00203f;
  color: #fcf6f5ff;
  margin: 1px -5px;
  padding: 5px 20px;
  border-radius: 5px;
}

.Weather .locationButton {
  display: block;
  font-size: 15px;
  text-align: center;
  background-color: #89ABE3FF;
  border: 1px solid #00203FFF;
  color: #FCF6F5FF;
  margin: 1px -36px;
  padding: 5px 20px;
  border-radius: 5px;
}

.Weather h3 {
  text-align: left;
  margin-top: 50px;
}

.Weather .currentDate {
  padding-left: 0%;
}

.Weather li {
  font-size: 15px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.Weather img {
  height: 120px;
  margin-right: -10px;
  margin-left: -25px;
  display: inline-block;  
  margin: 0px 0px 0px 0px;
}

.Weather .temperature {
  font-size: 40px;
  font-weight: 400;
  line-height: 64px;
}

.Weather a {
  text-decoration: none;
}

.Weather .units {
  position: relative;
  top: -15px
}

.Weather .features {
  margin-top: 28px;
}


