.Weather {
  margin: 20px auto;
}

.Weather .form-control {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 13px;

}

.Weather .searchButton {
  display: block;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
  background-color: #89abe3;
  border: 1px solid #00203FFF;
  color: #00203FFF;
  margin: 1px -5px;
  padding: 5px 20px;
  border-radius: 5px;
}

.Weather h3 {
  text-align: left;
  margin: 60px 0px 2px 2px;
}

.Weather .currentDate {
  padding-left: 0%;
  margin: 0px 2px 2px 2px;
}

.Weather li {
  font-size: 15px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}

.Weather .WeatherTemperature {
  margin: -80px 0px 0px 90px;
}

.WeatherInfo-image {
  height: 100px;
  width: 100px;
  margin-right: -10px;
  margin-left: -25px;
  display: inline-block;  
  margin: 0px 0px 0px 0px;
}

.Weather .temperature {
  font-size: 40px;
  font-weight: 400;
  line-height: 64px;
}

.Weather a {
  text-decoration: none;
}

.Weather .units {
  position: relative;
  top: -15px
}

.Weather .features {
  font-size: 15px;
  margin: 26px 0px 5px 16px;
}


